.gjs {
  border: 3px solid rgb(228, 83, 26);
}

.gjs-cv-canvas {
  top: 10px;
  width: 100%;
  height: 100%;
}

#blocks {
  display: flex;
  z-index: 1;
  flex-direction: column;

  width: 200px;
  height: 25px;
  position: absolute;
  top: 80px;
  right: 250px;
}
.panel__top {
  padding: 0;
  width: 100%;
  display: flex;
  position: initial;
  justify-content: center;
  justify-content: space-between;
}
.panel__basic-actions {
  position: initial;
}

.editor-row {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: nowrap;
  height: 300px;
}

.editor-canvas {
  flex-grow: 1;
}

.panel__right {
  flex-basis: 230px;
  position: relative;
  overflow-y: auto;
}
.panel__switcher {
  position: initial;
}
.panel__devices {
  position: initial;
}
